/* a minimalist set of CSS resets */
:root {
  --text: #1b0226;
  --background: #faedfe;
  --primary: #a83ed2;
  --secondary: #f77aa7;
  --accent: #f43f42;
}
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  background-color: var(--background);
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
#logo {
  height: 30%;
}
h1 {
  color: var(--primary);
}
.card {
  margin: 10px;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 5px;
}