/* a minimalist set of CSS resets */
:root {
  --text: #1b0226;
  --background: #faedfe;
  --primary: #a83ed2;
  --secondary: #f77aa7;
  --accent: #f43f42;
}
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.logo {
  height: 30%;
}
nav > .center-container > .center-v > .logo-small {
  width: 10%;
  height: 10%;
  vertical-align: middle;
}
.center-container > .center-v {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--primary);
  
}
.card {
  margin: 10px;
  background-color: var(--secondary);
  border-radius: 5px;
  border: 1px var(--accent);
}
.card-p {
  padding: 5px;
}
.card-h2 {
  padding: 5px;
}
