<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/d013d168-fb51-46c1-8dfb-4f2c61f7f469/mvherkkubuffa_icon.png?v=1712321384363"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>MV Herkkubuffa</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo1">MV Herkkubuffa</div>

      <!-- NAVIGATION MENU -->
      <ul class="nav-links">

        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label
          for="checkbox_toggle"
          class="hamburger"
          title="Hampurilainen - nami nami!"
        >&#9776;</label>

        <!-- NAVIGATION MENUS -->
        <div class="menu">

          <li><a href="/">MV Herkkubuffa</a></li>
          <li><a href="/tietoja">Tietoja</a></li>
          <li><a href="/hinnasto">Hinnasto</a></li>

          <!-- <li class="services">
            <a href="/">Services</a>

            DROPDOWN MENU
            <ul class="dropdown">
              <li><a href="/">Dropdown 1 </a></li>
              <li><a href="/">Dropdown 2</a></li>
              <li><a href="/">Dropdown 2</a></li>
              <li><a href="/">Dropdown 3</a></li>
              <li><a href="/">Dropdown 4</a></li>
            </ul>

          </li>

          <li><a href="/">Pricing</a></li>
          <li><a href="/">Contact</a></li> -->
        </div>
      </ul>
    </nav>
    Olemme pieni pikkuyritys. Meillä on kaksi noh, "työntekijää" (jotka myös omistavat koko paikan), Venni ja Miro.
    <br>
    Olisi mukavaa, jos meitä ja meidän luokkaamme tuettaisiin.
  </body>
</html>